/*====================================== reset.css is here ========================================*/
body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, form, fieldset, input, textarea, p, blockquote, th, td {
	margin: 0;
	padding: 0;
	outline: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
fieldset, img {
	border: 0;
}
address, caption, cite, code, dfn, em, strong, th, var {
	font-style: normal;
	font-weight: normal;
}
ol, ul {
	list-style: none;
}
caption, th {
	text-align: left;
}
h1, h2, h3, h4, h5, h6 {
	font-size: 100%;
	font-weight: bold;
}
abbr, acronym {
	border: 0;
}
.clear {
	clear: both;
	font-size: 0px;
	line-height: 0px;
	display: block;
}
.last {
	margin: 0 !important;
}
.pad_last {
	padding: 0 !important;
}
.no_bg {
	background: none !important;
}
/**************************************************************************************/
a {
	color: #000;
	text-decoration: none;
	outline: 0 none;
}
a:hover {
	color: #000;
	text-decoration: none;
}
h1 {
	font-size: 24px;
}
h2 {
	font-size: 22px;
}
h3 {
	font-size: 18px;
}
h4 {
	font-size: 16px;
}
h5 {
	font-size: 14px;
}
h6 {
	font-size: 18px;
}
/*----------------------------------------------------------------------------------*/


/*TUTAJ PISZ DALSZY KOD*/
/*NAGŁOWEK*/
body{
    color:#b1b1b1;
    font-family:"Arial", Verdana, Tahoma;
    font-size: 12px;
    background: #f4f4f4;
}
html, body{
    height: 100%;
}
.wrapper{
    position:relative;
    margin:0 auto;
    min-width:980px;
    min-height:100%;
    height:auto !important;
}
.header{
    background-color:deepskyblue;
   width:100%;    
}
.header-container{
    width:980px;
    margin:0 auto;
    padding:22px 0;
    height:35px;
}
.header-container .logo{
    float:left;
    text-align:center;
    margin-top:-5px;
    
}
.header-container .logo a{
    color:#fff;
    font-size:45px;
    font-weight:700;
    
    
}
.header-container .toll-free{
    float:right;
}

.header-container .toll-free p{
    text-align:center;
    color:#fff;
    font-size:20px;
    margin-top:12px;
    font-family: "Arial", Georgia, Serif;
}
/* MENU */
.nav{
    width:100%;
    background-image: url('../images/nav-bg.jpg');
    height:51px;
    
}
.nav .nav-in {
    width:980px;
    margin:0 auto; 
}
.nav-in ul {
    width:780px;
    margin:0 auto;
}
.nav-in li a{
    color:#fff;
    float:left;
    font-size:16px;
    padding:20px 15px 0 15px;
    font-weight:600;
}
.nav-in ul li a:after{
    content:"|";
    padding-left:30px;
    color:rgba(245, 245, 245, 0.1);
    padding-top:-2px;
}
.nav-in li a:hover{
    color:red;
    
}
/* KONTENER */
.container{
    width:980px;
    padding:20px;
    background-color:#fff;
    margin:auto;
    
}

.container-in{
    padding-left:20px;
    overflow:hidden;
    
    }
.container-in form{
    margin-bottom:80px;
}
.container-in table{
    margin-bottom:180px;
}
.read{
    margin-right:10px;
}
.read1{
    background-color:#f9f9f9;
    margin-top:20px !important;
    margin-right:20px;
    padding-bottom:40px;
   float:left;
    width:300px;
    text-align:center;
    color:black;
    font-size:14px;
}
.read .read1-img1{
    padding-top:20px;
    padding-bottom:20px;
}
.read .read1 h3 {
    padding-top:10px;
    padding-bottom:10px;
}
.read .read1 p {
    padding-top:10px;
    padding-bottom:40px;
}
 .read1 a{
    background-color:red;
     padding-top:10px;
     padding-bottom:10px;
     padding-left:10px;
     padding-right:10px;
     font-weight:600;
     border-radius:5px;
     color:#fff;
     box-shadow:1px 1px 1px 0 black;
     transition:0.5s;
}
.read1 a:hover{
    background-color:lightcoral;
    
}
.welcome{
    font-size:16px;
    color:black;
    background-color:#f9f9f9;
    margin-right:20px;
    padding-left:10px;
}
.welcome h2{
    padding-top:20px;
    margin-top:390px;
    margin-bottom:20px;
}
.welcome p {
    padding-bottom:30px;
}
.container .bottom-cont1{
    background-color:#fff;
    margin-top:40px !important;
    margin-right:20px;
    padding-bottom:40px;
    float:left;
    width:300px;
    text-align:left;;
    color:black;
    font-size:14px;
    height:260px;
        
}
.container .bottom-cont{
    background-color:#fff;
    
}
.bottom-cont1 h6{
    padding-bottom:10px;
}
.bottom-cont a{
    color:blue;
    line-height:26px;
}
.bottom-cont p{
    line-height:20px;
}
.bottom-cont-title{
    color:blue;
    font-weight:700;
    background:url(../images/arrow-li.png) no-repeat left center;
    padding:0 0 0 18px;
    
}
.bottom-cont-last p {
    padding-top:10px;
    padding-bottom:15px;
}
.bottom-cont1 ul li a{
    background:url(../images/arrow-li.png) no-repeat left center;
    padding:0 0 0 20px;
    
}
.bottom-cont1 ul li a:hover{
    color:red;
}
/*FOOTER*/

.footer{
    background-color:black;
    width:100%;
    height:50px;
    position:absolute;
    bottom:0;
    
}
.footer-in{
    padding-top:20px;
    padding-left:200px;
    padding-right:200px;
}
.social-icons {
    float:left;
}
.social-icons ul li {
    
    float:left;
    display:inline-block;
    padding-left:10px;
    
}
.copy{
    display:inline-block;
    float:right;
    
}
.copy a{
    color:blue;
    text-decoration:underline;
    letter-spacing:3px;
}
/*ABOUT US*/
#tabela{
    border:2px solid black;
    margin-left:auto;
    margin-right:auto;
    font-size:26px;
    margin-top:40px;
    
}
#tabela .tabela-naglowek{
    background-color:red;
    border-bottom: 4px solid black;
    color:white;
}
#tabela .tabela-naglowek th{
    padding:10px;
}
#tabela td{
    padding:15px;
    border-bottom:2px solid black;
    border-left:2px solid black;
}
#tabela th{
    text-align:center;
}